/* Reset some basic elements */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#timeline-embed {
  height: 100%; /* Full height */
}

.references-link, .nav-link {
  position: fixed;
  font-size: 18px;
  color: blue;
  text-decoration: none;
  z-index: 9999; /* Ensure the links are above the timeline */
  background: white; /* Optional: Add background to improve visibility */
  padding: 5px; /* Optional: Add padding for better click area */
}

.references-link {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link-left {
  top: 10px;
  left: 10px;
}

.nav-link-right {
  top: 10px;
  right: 10px;
}

.references-link:hover, .nav-link:hover {
  text-decoration: underline;
}

/* References Page Specific Styles */
.references-page {
  font-family: Arial, sans-serif;
  line-height: 2;
  margin: 10px 100px; /* Adjust margins as needed */
}

.references {
  list-style-type: none;
  padding: 0;
}

.references li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.reference {
  display: block;
  margin-bottom: 10px;
  text-indent: -2em; /* Larger hanging indent */
  padding-left: 2em; /* Larger hanging indent */
}
